<%= render 'shared/user', user: @user %>
<% @posts.each do |post| %>
  <div class="post-details">
    <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
    <p><%= post.text %></p>
     <div class="counters">
        <p>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %> </p>
      </div>
  </div>
   <% if post.recent_comments.any? %>
      <div class="user-comments">
        <% post.recent_comments.each do |comment| %>
          <div>
            <p><strong><%= comment.author.name %>:</strong> Comment:<%= comment.text %></p>
          </div>
        <% end %>
      </div>
    <% end %>
<% end %>
<div class="see-posts-btn">
  <%= button_to "Pagination", "#" %>
</div>
