<h1><%= @post.title %></h1>
<p><%= @post.text %></p>
<p>Likes: <%= @post.likes_counter %></p>
<p>Comments: <%= @post.comments_counter %></p>

<h2>Comments</h2>
<% @comments.each do |comment| %>
  <div>
    <p><strong><%= comment.author.name %>:</strong> <%= comment.text %></p>
  </div>
<% end %>
